.close--btn {
    position: absolute;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
    font-size: 0.7rem !important;
    top: 3px;
    right: 5px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    font-size: 1.2rem;
    width: 25px;
    height: 25px;
    transition: all 0.3s ease;
}

.close--btn:hover {
    color: rgb(204, 13, 13);
    background-color: rgba(0, 0, 0, 0.3);
}